.Head{
    display:inline-block;
    height:100px;
    width:100%;
    margin: 0%;
    background-color: black;
}
.logo{
    float:left;
    align-items: left;
    padding: 10px;
    padding-left: 30px;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: blue;
    margin: 6px 0;
    transition: 0.4;
    
}
.dropdown{
    float:right;
    align-items: right;
    padding-top: 20px;
    padding: 10px;
    padding-right: 30px;
}

