body{
    font-family: chiller;
    text-align:center;
    color:greenyellow;
    background-color:black;
    margin: 0px;
    

}

.upperSection{
    height: 150px;
    width: 100%;
    background-color: brown;
    padding-top: 2px;
}

#lwrSec{
    display:none;
}
#result{
    display:none;
    font-size: 30px;
}

.button{
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-color: red;
    
}